  .todoList {
      -moz-box-shadow: 0 4px 16px #aaa;
      -webkit-box-shadow: 0 4px 16px #aaa;
      box-shadow: 0 4px 16px #aaa;
      width: 500px;
      margin: 30px auto;
      border-top: solid 8px teal;
  }

  .todoList>* {
      padding: 10px 20px;
  }

  .todoList h1 {
      margin: 0;
      background: #fff;
      line-height: 1;
  }

  .todoList input[type="text"] {
      width: 100%;
      margin: 15px auto;
      padding: .5em;
      border: 1px solid #aaa;
      box-sizing: border-box;
  }

  .todoList .items {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      padding: 20px;
      counter-reset: done-items pending-items;
  }

  .todoList h2 {
      margin: 0;
      padding: 10px 0;
      font-size: 16px;
      line-height: 1;
      position: relative;
  }

  .todoList h2::before {
      content: "";
      display: block;
      position: absolute;
      left: -20px;
      top: 15%;
      width: 1px;
      height: 70%;
      border-left: solid 4px teal;
  }

  .todoList .badge {
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      display: block;
      float: right;
      background: teal;
      color: #fff;
      padding: 4px;
      min-width: 1.5em;
      text-align: center;
  }

  .todoList label {
      -moz-animation: pending 0.6s;
      -webkit-animation: pending 0.6s;
      animation: pending 0.6s;
      display: block;
      position: relative;
      padding: 10px 0;
      border-top: dashed 1px #fff;
      cursor: pointer;
      counter-increment: pending-items;
  }

  input[type="checkbox"] {
      display: none;
  }

  /*  .todoList label::before {
      content: "☐";
      display: inline-block;
      background: lawngreen;
  }

  .todoList label.isDone::before {
      content: "☑";
  }*/

  .todoList h2.pending {
      order: 1;
  }

  .todoList h2.done {
      order: 3;
  }

  .todoList label {
      order: 2;
  }

  .todoList label.isDone {
      order: 4;
  }

  .check-style {
      margin-right: 4px;
      border: 3px #009933 solid;
      display: inline-block;
      width: 1.1em;
      height: 1.1em;
      border-radius: 50%;
      transform: rotate(45deg);
  }

  label.isDone .check-style::before {
      content: " ";
      width: 5px;
      height: 10px;
      border-color: #009933;
      border-style: solid;
      border-width: 0 2px 2px 0;
      display: inline-block;
      position: relative;
      left: 4px;
  }

  .icon-cross {
      width: 20px;
      height: 20px;
      position: relative;
      border: 3px red solid;
      border-radius: 50%;
      display: inline;
      float: right;
  }

  .icon-cross::before,
  .icon-cross::after {
      content: "";
      position: absolute;
      height: 16px;
      width: 1.5px;
      top: 2px;
      right: 9px;
      background: red;
  }

  .icon-cross::before {
      transform: rotate(45deg);
      /*进行旋转*/
  }

  .icon-cross::after {
      transform: rotate(-45deg);
  }